body {
    padding-top: 75px;
    position:relative;
    height: 100vh;
    min-height: 100%;
    padding-bottom: 85px;
    
}



.jumbotron {
    background: rgba(1,1,1,0.5);
    color: white;
    margin-top: 250px;
    font-family: 'Montserrat', sans-serif;
}

.index {
    background-image: url("https://images.unsplash.com/photo-1501631454901-2fe040439c00?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4506cac8e37ae65e1f1ba9f62ef90e0c&auto=format&fit=crop&w=1286&q=80");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.row {
    padding-top: 15px
}

form {
    color: white;
    background: rgba(1,1,1,0.5);
    padding-bottom: 5px;
    margin-top: 250px;
}

#emailHelp {
    color: white;
}

#aboutme {
    font-family: 'Montserrat Alternates', sans-serif;
}

#aboutmepic {
    width:100%;
    height:100%;
}

#foot-text {
    margin-bottom: 0;
}

.footer {
    background: rgba(1,1,1,0.5);
    color: white;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.footer2 {
    background: rgba(243,232,232);
    color: black;
    width: 100%;
    bottom: 0;
    position: absolute;
}





